.register-box{
	width: 760px;
	height: 500px;

	background: #f8fdff;
	margin: 0 auto;
	
	form{
		padding: 50px 240px;
		line-height: 40px;
	}

	.item{
		width: 100px;
		display: inline-block;
		text-align: right;
	}
}