<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/chat_web.min.css" />
	<!--<script type="text/javascript" src="/vendor/jquery.min.js"></script>-->
	<script data-main="/js/main_<%= page %>" src="/js/vendor/require.min.js"></script>
	<script type="text/javascript" src="/js/vendor/socket.io.min.js"></script>
	<!--<script type="text/javascript" src="/js/custom.js"></script>-->
</head>