<head>
	<meta charset="UTF-8">
	<title>房间</title>
	<link rel="stylesheet" href="/css/<%= projectName %>.min.css" />
	<script type="text/javascript" src="/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/socket.io.min.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>
</head>