<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/chat_web.min.css" />
	<script type="text/javascript" src="/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/socket.io.min.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>
</head>