<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆</title>
	<link rel="stylesheet" href="/css/<%= projectName %>.min.css" />
	<script type="text/javascript" src="/lib/jquery.min.js"></script>
</head>
<body>
	<form action="/login" method="post">
		<input type="text" class="username" name="username" />
		<input type="password" class="password" name="password" />
		<input type="submit" value="登陆" />
	</form>

	<script type="text/javascript">

	</script>
</body>
</html>