<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>房间</title>
	<link rel="stylesheet" href="/css/<%= projectName %>.min.css" />
</head>
<body>
	<div class="chat-room-box">	
		<div class="">
			<div class="msg-show-box">消息显示</div>
			<div class="msg-input-box" contentEditable="true">
			</div>
		</div>
		<div class="">
			<div class="apply-box">应用</div>
			<div class="user-list-box">用户列表</div>
		</div>
	</div>
</body>
</html>