<% include head %>
<body>
	<span class="login-box">
		<% if(!session.myUser){ %>
		<label for="username">用户名: </label>
		<input class="username" id="username" name="username" />
		<button class="btn-login">登陆</button>
		<% }else{ %>
			<%= session.myUser %>已登录
		<% } %>
	</span>
	<div class="chat-room-box clearfix">	
		<div class="head"></div>
		<div class="col col-1">
			<div class="msg-show-box"></div>
			<div class="toolbar"></div>
			<div class="msg-input-box" contentEditable="true">
			</div>
			<div class="footer">
				<button class="btn-send">发送</button>
			</div>
		</div>
		<div class="col col-2">
			<div class="user-list-box">
				<div class="head">聊天成员(<span class="num"><%= users.length %></span>)</div>
				<ul class="body">
					<% for(var i=0;i<users.length;i++){ %>
						<li class="list"><%= users[i] %></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</body>